# Weather reporting 
An NOAA dataset has been stored in the file data/C2A2_data/BinnedCsvs_d400/fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89.csv. This is the dataset to use for this assignment. Note: The data for this assignment comes from a subset of The National Centers for Environmental Information (NCEI) Daily Global Historical Climatology Network (GHCN-Daily). The GHCN-Daily is comprised of daily climate records from thousands of land surface stations across the globe.

Each row in the assignment datafile corresponds to a single observation.

The following variables are provided to you:

    id : station identification code
    date : date in YYYY-MM-DD format (e.g. 2012-01-24 = January 24, 2012)
    element : indicator of element type
        TMAX : Maximum temperature (tenths of degrees C)
        TMIN : Minimum temperature (tenths of degrees C)
    value : data value for element (tenths of degrees C)

For this assignment, you must:

    Read the documentation and familiarize yourself with the dataset, then write some python code which returns a line graph of the record high and record low temperatures by day of the year over the period 2005-2014. The area between the record high and record low temperatures for each day should be shaded.
    Overlay a scatter of the 2015 data for any points (highs and lows) for which the ten year record (2005-2014) record high or record low was broken in 2015.
    Watch out for leap days (i.e. February 29th), it is reasonable to remove these points from the dataset for the purpose of this visualization.
    Make the visual nice! Leverage principles from the first module in this course when developing your solution. Consider issues such as legends, labels, and chart junk.

In [1]:
import matplotlib.pyplot as plt
import mplleaflet
import pandas as pd

def leaflet_plot_stations(binsize, hashid):

    #df = pd.read_csv('data/C2A2_data/BinSize_d{}.csv'.format(binsize))
    df = pd.read_csv('BinSize_d400.csv')

    station_locations_by_hash = df[df['hash'] == hashid]
    
    lons = station_locations_by_hash['LONGITUDE'].tolist()
    lats = station_locations_by_hash['LATITUDE'].tolist()

    plt.figure(figsize=(8,8))

    plt.scatter(lons, lats, c='r', alpha=0.7, s=200)
    
    return mplleaflet.display()

leaflet_plot_stations(400,'cfe15818c628b862ea7e1459e4c4e75ab3c8b84331b5ba3fbdbdebac')

C:\Users\kamoh\Anaconda3\lib\site-packages\IPython\core\display.py:701: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [2]:
import matplotlib.pyplot as plt
import mplleaflet
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df = pd.read_csv('BinSize_d400.csv')

In [4]:
station_locations_by_hash = df[df['hash'] == 'cfe15818c628b862ea7e1459e4c4e75ab3c8b84331b5ba3fbdbdebac']
print('Ann Arbor, Michigan, United States')
lons = station_locations_by_hash['LONGITUDE'].tolist()
lats = station_locations_by_hash['LATITUDE'].tolist()
stations = station_locations_by_hash['NAME'].tolist()

Ann Arbor, Michigan, United States

In [5]:
# initial impresseion of the data
dfr=pd.read_csv('fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89.csv')
dfr

                 ID        Date Element  Data_Value
0       USW00094889  2014-11-12    TMAX          22
1       USC00208972  2009-04-29    TMIN          56
2       USC00200032  2008-05-26    TMAX         278
3       USC00205563  2005-11-11    TMAX         139
4       USC00200230  2014-02-27    TMAX        -106
...             ...         ...     ...         ...
165080  USC00205822  2015-06-09    TMAX         256
165081  USC00205822  2009-10-06    TMAX         167
165082  USC00205050  2014-07-14    TMAX         283
165083  USC00200230  2006-11-29    TMIN         117
165084  USC00207312  2006-09-04    TMIN         111

[165085 rows x 4 columns]

In [6]:
dfr.Date.dtype

dtype('O')

In [7]:
#data types: Date column is just object, but it shall be converted to datetime type. Date_Value is int64 
# which needs to be converted to float to indicate tenth of degrees
dfr['Date'] =  pd.to_datetime(dfr['Date'])
dfr['Data_Value']=0.1*pd.to_numeric(dfr['Data_Value']) #conversion is done at the same time

In [8]:
dfr.Date.dtype

dtype('<M8[ns]')

In [9]:
#exclude leap days as suggested by the teacher
dfr = dfr[dfr['Date'] !='2008-02-29']
dfr = dfr[dfr['Date'] !='2012-02-29']

In [10]:
dfr.set_index('Date', inplace=True)
dfr.sort_index(inplace=True)
dfr

                     ID Element  Data_Value
Date
2005-01-01  USW00014853    TMAX         5.6
2005-01-01  USC00201502    TMIN        -3.9
2005-01-01  USC00200228    TMAX        15.0
2005-01-01  USC00207320    TMAX        15.0
2005-01-01  USC00200228    TMIN        -3.9
...                 ...     ...         ...
2015-12-31  USC00200230    TMAX         0.0
2015-12-31  USC00200230    TMIN        -1.7
2015-12-31  USC00207312    TMAX         0.6
2015-12-31  USC00205050    TMAX         0.0
2015-12-31  USW00014853    TMAX         1.7

[165002 rows x 3 columns]

minrec = dfr['Data_Value'].min()

maxrec = dfr['Data_Value'].max()

dfr['Data_Value'].idxmax()

dfr['Data_Value'].idxmin()

In [11]:
#overlaid scatter plot indicates days in 2015 that broke a record high or low for 2005-2014

In [12]:
dfr

                     ID Element  Data_Value
Date
2005-01-01  USW00014853    TMAX         5.6
2005-01-01  USC00201502    TMIN        -3.9
2005-01-01  USC00200228    TMAX        15.0
2005-01-01  USC00207320    TMAX        15.0
2005-01-01  USC00200228    TMIN        -3.9
...                 ...     ...         ...
2015-12-31  USC00200230    TMAX         0.0
2015-12-31  USC00200230    TMIN        -1.7
2015-12-31  USC00207312    TMAX         0.6
2015-12-31  USC00205050    TMAX         0.0
2015-12-31  USW00014853    TMAX         1.7

[165002 rows x 3 columns]

In [13]:
#variable number of data per station! It means that number of data for calculating the mean value of TMIN or TMAX in each day
# for all stations is varying. In this question we need a graph to show only the mean value for TMIN and TMAX for all stations
# for each day (mean value). 
# Using groupby first on Date we classify all data for a single day. Then we can use Element as the second item of groupby to
# classify only TMIN or only TMAX in a single day (of course for all stations). This will end up in a long list which is 
# boring and also time consuming and in fact not needed! What we need here is only the mean value, which can directly added to
# the groupby command using agg function. Arbitrarily we can add count, which shows how many TMIN or TMAX has been used for the
# calculation of mean in a single day.

dfr = dfr.groupby(['Date','Element']).agg(['mean','count'])
dfr

                   Data_Value
                         mean count
Date       Element
2005-01-01 TMAX     10.860000    20
           TMIN     -3.309524    21
2005-01-02 TMAX      8.304762    21
           TMIN     -1.642105    19
2005-01-03 TMAX      8.525000    20
...                       ...   ...
2015-12-29 TMIN     -1.077778    18
2015-12-30 TMAX      3.605882    17
           TMIN     -0.323529    17
2015-12-31 TMAX      0.311765    17
           TMIN     -1.805556    18

[8030 rows x 2 columns]

In [14]:
dfr.columns = dfr.columns.droplevel(0) #drop one level
dfr

                         mean  count
Date       Element
2005-01-01 TMAX     10.860000     20
           TMIN     -3.309524     21
2005-01-02 TMAX      8.304762     21
           TMIN     -1.642105     19
2005-01-03 TMAX      8.525000     20
...                       ...    ...
2015-12-29 TMIN     -1.077778     18
2015-12-30 TMAX      3.605882     17
           TMIN     -0.323529     17
2015-12-31 TMAX      0.311765     17
           TMIN     -1.805556     18

[8030 rows x 2 columns]

#Remove any data before or after the period: 2005-2014:
dfr=dfr.loc['2005-01-01': '2014-12-31'] 
dfr

In [15]:
#pivot for tmin?
dfr = dfr.unstack()
dfr

                 mean           count
Element          TMAX      TMIN  TMAX TMIN
Date
2005-01-01  10.860000 -3.309524    20   21
2005-01-02   8.304762 -1.642105    21   19
2005-01-03   8.525000  0.838095    20   21
2005-01-04   2.431579 -0.445000    19   20
2005-01-05   0.745000 -4.771429    20   21
...               ...       ...   ...  ...
2015-12-27   6.355556  1.584211    18   19
2015-12-28   3.383333 -1.831579    18   19
2015-12-29   5.927778 -1.077778    18   18
2015-12-30   3.605882 -0.323529    17   17
2015-12-31   0.311765 -1.805556    17   18

[4015 rows x 4 columns]

In [16]:
#dfr=dfr['mean']
dfr = dfr.drop('count', 1)
dfr

                 mean
Element          TMAX      TMIN
Date
2005-01-01  10.860000 -3.309524
2005-01-02   8.304762 -1.642105
2005-01-03   8.525000  0.838095
2005-01-04   2.431579 -0.445000
2005-01-05   0.745000 -4.771429
...               ...       ...
2015-12-27   6.355556  1.584211
2015-12-28   3.383333 -1.831579
2015-12-29   5.927778 -1.077778
2015-12-30   3.605882 -0.323529
2015-12-31   0.311765 -1.805556

[4015 rows x 2 columns]

In [17]:
dfr.index.dtype

dtype('<M8[ns]')

In [18]:
dfr.columns = dfr.columns.droplevel(0) #drop one level
dfr

Element          TMAX      TMIN
Date
2005-01-01  10.860000 -3.309524
2005-01-02   8.304762 -1.642105
2005-01-03   8.525000  0.838095
2005-01-04   2.431579 -0.445000
2005-01-05   0.745000 -4.771429
...               ...       ...
2015-12-27   6.355556  1.584211
2015-12-28   3.383333 -1.831579
2015-12-29   5.927778 -1.077778
2015-12-30   3.605882 -0.323529
2015-12-31   0.311765 -1.805556

[4015 rows x 2 columns]

In [19]:
#From this point we need to take 2 different slices from dfr to continue: dfr1 for 2005-2014 and dfr2 for 2015
#Remove any data before or after the period: 2005-2014 and take the rest as dfr1:
dfr1=dfr.loc['2005-01-01': '2014-12-31'] 
dfr1

Element          TMAX       TMIN
Date
2005-01-01  10.860000  -3.309524
2005-01-02   8.304762  -1.642105
2005-01-03   8.525000   0.838095
2005-01-04   2.431579  -0.445000
2005-01-05   0.745000  -4.771429
...               ...        ...
2014-12-27   8.655000   0.670000
2014-12-28   7.447368  -0.821053
2014-12-29   2.000000  -6.811765
2014-12-30  -0.768421  -9.442105
2014-12-31  -4.431579 -10.935000

[3650 rows x 2 columns]

In [20]:
#Take data for 2015 for the overlay graph as dfr2:
dfr2=dfr.loc['2015-01-01': '2015-12-31'] 
dfr2

Element         TMAX       TMIN
Date
2015-01-01 -3.200000  -9.861111
2015-01-02  0.278947  -6.977778
2015-01-03  1.805556  -4.800000
2015-01-04  1.620000  -2.710000
2015-01-05 -1.284211 -13.694737
...              ...        ...
2015-12-27  6.355556   1.584211
2015-12-28  3.383333  -1.831579
2015-12-29  5.927778  -1.077778
2015-12-30  3.605882  -0.323529
2015-12-31  0.311765  -1.805556

[365 rows x 2 columns]

In [21]:
dfr1.index = dfr1.index.strftime('%m-%d')
dfr1

Element       TMAX       TMIN
Date
01-01    10.860000  -3.309524
01-02     8.304762  -1.642105
01-03     8.525000   0.838095
01-04     2.431579  -0.445000
01-05     0.745000  -4.771429
...            ...        ...
12-27     8.655000   0.670000
12-28     7.447368  -0.821053
12-29     2.000000  -6.811765
12-30    -0.768421  -9.442105
12-31    -4.431579 -10.935000

[3650 rows x 2 columns]

In [22]:
dfr2.index = dfr2.index.strftime('%m-%d')
dfr2

Element      TMAX       TMIN
Date
01-01   -3.200000  -9.861111
01-02    0.278947  -6.977778
01-03    1.805556  -4.800000
01-04    1.620000  -2.710000
01-05   -1.284211 -13.694737
...           ...        ...
12-27    6.355556   1.584211
12-28    3.383333  -1.831579
12-29    5.927778  -1.077778
12-30    3.605882  -0.323529
12-31    0.311765  -1.805556

[365 rows x 2 columns]

In [23]:
dfr1.index.dtype

dtype('O')

In [24]:
dfr2.index.dtype

dtype('O')

In [25]:
dfr1.sort_index(inplace=True)
dfr1

C:\Users\kamoh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Element       TMAX       TMIN
Date
01-01    10.860000  -3.309524
01-01    11.809524   0.733333
01-01    -0.190000  -8.371429
01-01     0.625000  -9.515000
01-01    -3.418182 -13.268182
...            ...        ...
12-31    -0.266667  -3.505000
12-31     9.870000   0.900000
12-31     1.757895  -0.852632
12-31    -6.095000 -10.230000
12-31    -4.431579 -10.935000

[3650 rows x 2 columns]

In [26]:
dfr2.sort_index(inplace=True)
dfr2

Element      TMAX       TMIN
Date
01-01   -3.200000  -9.861111
01-02    0.278947  -6.977778
01-03    1.805556  -4.800000
01-04    1.620000  -2.710000
01-05   -1.284211 -13.694737
...           ...        ...
12-27    6.355556   1.584211
12-28    3.383333  -1.831579
12-29    5.927778  -1.077778
12-30    3.605882  -0.323529
12-31    0.311765  -1.805556

[365 rows x 2 columns]

In [27]:
dff1 = dfr1.groupby('Date').agg('max')
dff1

Element       TMAX      TMIN
Date
01-01    11.809524  0.733333
01-02     8.304762  0.885714
01-03     8.525000  1.925000
01-04     8.915000  2.405263
01-05    10.294737  4.670588
...            ...       ...
12-27    11.828571  0.670000
12-28    14.710000  0.140000
12-29     8.083333  0.371429
12-30     8.275000 -0.075000
12-31     9.870000  2.047619

[365 rows x 2 columns]

In [28]:
dff2 = dfr2.groupby('Date').agg('max')
dff2

Element      TMAX       TMIN
Date
01-01   -3.200000  -9.861111
01-02    0.278947  -6.977778
01-03    1.805556  -4.800000
01-04    1.620000  -2.710000
01-05   -1.284211 -13.694737
...           ...        ...
12-27    6.355556   1.584211
12-28    3.383333  -1.831579
12-29    5.927778  -1.077778
12-30    3.605882  -0.323529
12-31    0.311765  -1.805556

[365 rows x 2 columns]

In [29]:
type(dff1)

pandas.core.frame.DataFrame

In [30]:
type(dff2)

pandas.core.frame.DataFrame

In [31]:
dff1['TTmax1'] = dff1['TMAX']
dff1

Element       TMAX      TMIN     TTmax1
Date
01-01    11.809524  0.733333  11.809524
01-02     8.304762  0.885714   8.304762
01-03     8.525000  1.925000   8.525000
01-04     8.915000  2.405263   8.915000
01-05    10.294737  4.670588  10.294737
...            ...       ...        ...
12-27    11.828571  0.670000  11.828571
12-28    14.710000  0.140000  14.710000
12-29     8.083333  0.371429   8.083333
12-30     8.275000 -0.075000   8.275000
12-31     9.870000  2.047619   9.870000

[365 rows x 3 columns]

In [32]:
dff2['TTmax2'] = dff2['TMAX']
dff2

Element      TMAX       TMIN    TTmax2
Date
01-01   -3.200000  -9.861111 -3.200000
01-02    0.278947  -6.977778  0.278947
01-03    1.805556  -4.800000  1.805556
01-04    1.620000  -2.710000  1.620000
01-05   -1.284211 -13.694737 -1.284211
...           ...        ...       ...
12-27    6.355556   1.584211  6.355556
12-28    3.383333  -1.831579  3.383333
12-29    5.927778  -1.077778  5.927778
12-30    3.605882  -0.323529  3.605882
12-31    0.311765  -1.805556  0.311765

[365 rows x 3 columns]

In [33]:
dff1['TTmin1'] = dfr1.groupby('Date').agg('min')['TMIN']
dff1

Element       TMAX      TMIN     TTmax1     TTmin1
Date
01-01    11.809524  0.733333  11.809524 -13.268182
01-02     8.304762  0.885714   8.304762 -13.957895
01-03     8.525000  1.925000   8.525000 -22.052632
01-04     8.915000  2.405263   8.915000 -18.310000
01-05    10.294737  4.670588  10.294737 -10.276190
...            ...       ...        ...        ...
12-27    11.828571  0.670000  11.828571  -8.926087
12-28    14.710000  0.140000  14.710000 -12.586364
12-29     8.083333  0.371429   8.083333 -10.280952
12-30     8.275000 -0.075000   8.275000 -11.571429
12-31     9.870000  2.047619   9.870000 -10.935000

[365 rows x 4 columns]

In [34]:
dff2['TTmin2'] = dfr2.groupby('Date').agg('min')['TMIN']
dff2

Element      TMAX       TMIN    TTmax2     TTmin2
Date
01-01   -3.200000  -9.861111 -3.200000  -9.861111
01-02    0.278947  -6.977778  0.278947  -6.977778
01-03    1.805556  -4.800000  1.805556  -4.800000
01-04    1.620000  -2.710000  1.620000  -2.710000
01-05   -1.284211 -13.694737 -1.284211 -13.694737
...           ...        ...       ...        ...
12-27    6.355556   1.584211  6.355556   1.584211
12-28    3.383333  -1.831579  3.383333  -1.831579
12-29    5.927778  -1.077778  5.927778  -1.077778
12-30    3.605882  -0.323529  3.605882  -0.323529
12-31    0.311765  -1.805556  0.311765  -1.805556

[365 rows x 4 columns]

In [35]:
dff1 = dff1[['TTmin1','TTmax1']]
dff1

Element     TTmin1     TTmax1
Date
01-01   -13.268182  11.809524
01-02   -13.957895   8.304762
01-03   -22.052632   8.525000
01-04   -18.310000   8.915000
01-05   -10.276190  10.294737
...            ...        ...
12-27    -8.926087  11.828571
12-28   -12.586364  14.710000
12-29   -10.280952   8.083333
12-30   -11.571429   8.275000
12-31   -10.935000   9.870000

[365 rows x 2 columns]

In [36]:
dff1.tail(10)

Element     TTmin1     TTmax1
Date
12-22   -18.481818   9.530000
12-23   -17.180000  10.323810
12-24   -12.289474  10.884211
12-25   -13.188889   6.690000
12-26   -10.015000   6.509524
12-27    -8.926087  11.828571
12-28   -12.586364  14.710000
12-29   -10.280952   8.083333
12-30   -11.571429   8.275000
12-31   -10.935000   9.870000

In [37]:
dff2 = dff2[['TTmin2','TTmax2']]
dff2

Element     TTmin2    TTmax2
Date
01-01    -9.861111 -3.200000
01-02    -6.977778  0.278947
01-03    -4.800000  1.805556
01-04    -2.710000  1.620000
01-05   -13.694737 -1.284211
...            ...       ...
12-27     1.584211  6.355556
12-28    -1.831579  3.383333
12-29    -1.077778  5.927778
12-30    -0.323529  3.605882
12-31    -1.805556  0.311765

[365 rows x 2 columns]

In [38]:
# criteria for overlay graph:
low2015 = dff2[dff2['TTmin2'] < dff1['TTmin1']]
low2015 = low2015.drop('TTmax2',1)
low2015

Element     TTmin2
Date
01-05   -13.694737
01-10   -18.973684
01-11   -14.736842
01-13   -18.455000
02-02   -13.700000
02-03   -17.984211
02-13   -22.121053
02-14   -18.847368
02-15   -23.794444
02-16   -26.078947
02-17   -23.273684
02-18   -17.833333
02-19   -22.166667
02-20   -28.317647
02-21   -21.900000
02-22   -13.094444
02-23   -23.052632
02-24   -20.915789
02-25   -15.852632
02-27   -23.835000
03-05   -15.555000
03-06   -20.555000
03-28    -9.916667
03-29    -8.741176
04-24    -4.068421
04-28    -0.778947
05-20     3.305263
06-01     7.365000
06-02     5.610000
06-28    13.525000
07-03    10.478947
07-16    10.695000
08-28     9.089474
09-13     5.900000
10-17    -2.036842
10-19    -1.489474

In [39]:
type(low2015)

pandas.core.frame.DataFrame

In [40]:
high2015 = dff2[dff2['TTmax2'] > dff1['TTmax1']]
high2015 = high2015.drop('TTmin2',1)
high2015

Element     TTmax2
Date
04-10    19.360000
05-07    24.057895
05-08    29.026316
05-09    29.360000
05-18    28.126316
07-27    30.442105
07-28    31.873684
07-29    32.365000
08-17    30.800000
09-07    32.394737
09-08    31.994737
09-09    29.594737
09-16    28.258824
09-17    28.682353
09-18    28.029412
09-28    25.615000
10-20    21.766667
10-21    24.136842
11-02    19.763158
11-03    22.457895
11-04    24.295000
11-05    24.126316
11-16    18.129412
11-17    17.226316
11-18    16.700000
11-19    16.394444
12-07     5.589474
12-08     8.056250
12-09     8.594737
12-10    11.052632
12-11    12.663158
12-12    14.900000
12-13    17.315000
12-14    16.090000
12-21     7.984211
12-22    10.566667
12-23    12.888235
12-24    15.364706
12-25     8.523529
12-26     7.961111

In [41]:
dff = pd.merge(dff1,low2015, how='left',left_index = True, right_index=True)
dff

Element     TTmin1     TTmax1     TTmin2
Date
01-01   -13.268182  11.809524        NaN
01-02   -13.957895   8.304762        NaN
01-03   -22.052632   8.525000        NaN
01-04   -18.310000   8.915000        NaN
01-05   -10.276190  10.294737 -13.694737
...            ...        ...        ...
12-27    -8.926087  11.828571        NaN
12-28   -12.586364  14.710000        NaN
12-29   -10.280952   8.083333        NaN
12-30   -11.571429   8.275000        NaN
12-31   -10.935000   9.870000        NaN

[365 rows x 3 columns]

In [42]:
dff = pd.merge(dff,high2015, how='left',left_index = True, right_index=True)
dff

Element     TTmin1     TTmax1     TTmin2  TTmax2
Date
01-01   -13.268182  11.809524        NaN     NaN
01-02   -13.957895   8.304762        NaN     NaN
01-03   -22.052632   8.525000        NaN     NaN
01-04   -18.310000   8.915000        NaN     NaN
01-05   -10.276190  10.294737 -13.694737     NaN
...            ...        ...        ...     ...
12-27    -8.926087  11.828571        NaN     NaN
12-28   -12.586364  14.710000        NaN     NaN
12-29   -10.280952   8.083333        NaN     NaN
12-30   -11.571429   8.275000        NaN     NaN
12-31   -10.935000   9.870000        NaN     NaN

[365 rows x 4 columns]

In [43]:
dff.head(50)

Element     TTmin1     TTmax1     TTmin2  TTmax2
Date
01-01   -13.268182  11.809524        NaN     NaN
01-02   -13.957895   8.304762        NaN     NaN
01-03   -22.052632   8.525000        NaN     NaN
01-04   -18.310000   8.915000        NaN     NaN
01-05   -10.276190  10.294737 -13.694737     NaN
01-06   -17.615000   9.615789        NaN     NaN
01-07   -26.455000  14.847619        NaN     NaN
01-08   -25.070000  16.566667        NaN     NaN
01-09   -23.490000  13.980000        NaN     NaN
01-10   -17.372727   7.142857 -18.973684     NaN
01-11   -12.327273   8.756522 -14.736842     NaN
01-12   -14.327273  14.504545        NaN     NaN
01-13   -15.676190  13.625000 -18.455000     NaN
01-14   -22.209091   5.785000        NaN     NaN
01-15   -23.127273   3.434783        NaN     NaN
01-16   -25.918182   1.422222        NaN     NaN
01-17   -25.520000   9.182609        NaN     NaN
01-18   -19.275000   6.908696        NaN     NaN
01-19   -15.695455   5.063636        NaN     NaN
01-20   -18.585714  11.138095        NaN     NaN
01-21   -20.513636   8.180952        NaN     NaN
01-22   -23.645000   3.663158        NaN     NaN
01-23   -19.735000   8.352174        NaN     NaN
01-24   -20.915000   6.821739        NaN     NaN
01-25   -18.276190   7.327273        NaN     NaN
01-26   -19.304545   1.438095        NaN     NaN
01-27   -20.140000   4.340000        NaN     NaN
01-28   -24.966667   8.438095        NaN     NaN
01-29   -22.590000  10.776190        NaN     NaN
01-30   -16.755000  16.025000        NaN     NaN
01-31   -15.465217   8.533333        NaN     NaN
02-01   -14.821053  12.104348        NaN     NaN
02-02   -13.185000   7.780000 -13.700000     NaN
02-03   -17.836364   6.290476 -17.984211     NaN
02-04   -20.460000   4.755000        NaN     NaN
02-05   -23.614286   8.833333        NaN     NaN
02-06   -20.888889   7.643478        NaN     NaN
02-07   -20.415789   7.334783        NaN     NaN
02-08   -18.821429   8.338095        NaN     NaN
02-09   -16.773684   5.209091        NaN     NaN
02-10   -21.400000   8.981818        NaN     NaN
02-11   -20.930435  13.119048        NaN     NaN
02-12   -24.100000  11.023810        NaN     NaN
02-13   -19.983333   6.038889 -22.121053     NaN
02-14   -14.990000   7.884211 -18.847368     NaN
02-15   -20.225000   8.415789 -23.794444     NaN
02-16   -17.788889  10.961905 -26.078947     NaN
02-17   -19.425000  10.652174 -23.273684     NaN
02-18   -16.052381  12.317391 -17.833333     NaN
02-19   -15.355000   8.050000 -22.166667     NaN

In [44]:
from datetime import datetime, timedelta

# generate list of dates from 01.01.2015 to 01.01.2015 through 1 day (year ill be deleted in the nex step. Because we
# need a date type object for the sake of visualization on the horizontal axis on a monthly basis)
x = np.arange(0,365,1)
dummydates = []
#establishin the starting date as dates[0] inside dates list
dummydates.append(datetime.strptime('2015-01-01', '%Y-%m-%d'))
dummydates

[datetime.datetime(2015, 1, 1, 0, 0)]

In [45]:
#type(days)
len(dummydates)

1

In [46]:
for d in x[1:]:
    d =d.astype('float64') #Maybe a bug: timedate doesn't function with int32!
    dummydates.append(dummydates[0] + timedelta(days = d))
dummydates

[datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2015, 1, 2, 0, 0),
 datetime.datetime(2015, 1, 3, 0, 0),
 datetime.datetime(2015, 1, 4, 0, 0),
 datetime.datetime(2015, 1, 5, 0, 0),
 datetime.datetime(2015, 1, 6, 0, 0),
 datetime.datetime(2015, 1, 7, 0, 0),
 datetime.datetime(2015, 1, 8, 0, 0),
 datetime.datetime(2015, 1, 9, 0, 0),
 datetime.datetime(2015, 1, 10, 0, 0),
 datetime.datetime(2015, 1, 11, 0, 0),
 datetime.datetime(2015, 1, 12, 0, 0),
 datetime.datetime(2015, 1, 13, 0, 0),
 datetime.datetime(2015, 1, 14, 0, 0),
 datetime.datetime(2015, 1, 15, 0, 0),
 datetime.datetime(2015, 1, 16, 0, 0),
 datetime.datetime(2015, 1, 17, 0, 0),
 datetime.datetime(2015, 1, 18, 0, 0),
 datetime.datetime(2015, 1, 19, 0, 0),
 datetime.datetime(2015, 1, 20, 0, 0),
 datetime.datetime(2015, 1, 21, 0, 0),
 datetime.datetime(2015, 1, 22, 0, 0),
 datetime.datetime(2015, 1, 23, 0, 0),
 datetime.datetime(2015, 1, 24, 0, 0),
 datetime.datetime(2015, 1, 25, 0, 0),
 datetime.datetime(2015, 1, 26, 0, 0),
 datetime.datetime(2015, 1, 27, 0, 0),
 datetime.datetime(2015, 1, 28, 0, 0),
 datetime.datetime(2015, 1, 29, 0, 0),
 datetime.datetime(2015, 1, 30, 0, 0),
 datetime.datetime(2015, 1, 31, 0, 0),
 datetime.datetime(2015, 2, 1, 0, 0),
 datetime.datetime(2015, 2, 2, 0, 0),
 datetime.datetime(2015, 2, 3, 0, 0),
 datetime.datetime(2015, 2, 4, 0, 0),
 datetime.datetime(2015, 2, 5, 0, 0),
 datetime.datetime(2015, 2, 6, 0, 0),
 datetime.datetime(2015, 2, 7, 0, 0),
 datetime.datetime(2015, 2, 8, 0, 0),
 datetime.datetime(2015, 2, 9, 0, 0),
 datetime.datetime(2015, 2, 10, 0, 0),
 datetime.datetime(2015, 2, 11, 0, 0),
 datetime.datetime(2015, 2, 12, 0, 0),
 datetime.datetime(2015, 2, 13, 0, 0),
 datetime.datetime(2015, 2, 14, 0, 0),
 datetime.datetime(2015, 2, 15, 0, 0),
 datetime.datetime(2015, 2, 16, 0, 0),
 datetime.datetime(2015, 2, 17, 0, 0),
 datetime.datetime(2015, 2, 18, 0, 0),
 datetime.datetime(2015, 2, 19, 0, 0),
 datetime.datetime(2015, 2, 20, 0, 0),
 datetime.datetime(2015, 2, 21, 0, 0),
 datetime.datetime(2015, 2, 22, 0, 0),
 datetime.datetime(2015, 2, 23, 0, 0),
 datetime.datetime(2015, 2, 24, 0, 0),
 datetime.datetime(2015, 2, 25, 0, 0),
 datetime.datetime(2015, 2, 26, 0, 0),
 datetime.datetime(2015, 2, 27, 0, 0),
 datetime.datetime(2015, 2, 28, 0, 0),
 datetime.datetime(2015, 3, 1, 0, 0),
 datetime.datetime(2015, 3, 2, 0, 0),
 datetime.datetime(2015, 3, 3, 0, 0),
 datetime.datetime(2015, 3, 4, 0, 0),
 datetime.datetime(2015, 3, 5, 0, 0),
 datetime.datetime(2015, 3, 6, 0, 0),
 datetime.datetime(2015, 3, 7, 0, 0),
 datetime.datetime(2015, 3, 8, 0, 0),
 datetime.datetime(2015, 3, 9, 0, 0),
 datetime.datetime(2015, 3, 10, 0, 0),
 datetime.datetime(2015, 3, 11, 0, 0),
 datetime.datetime(2015, 3, 12, 0, 0),
 datetime.datetime(2015, 3, 13, 0, 0),
 datetime.datetime(2015, 3, 14, 0, 0),
 datetime.datetime(2015, 3, 15, 0, 0),
 datetime.datetime(2015, 3, 16, 0, 0),
 datetime.datetime(2015, 3, 17, 0, 0),
 datetime.datetime(2015, 3, 18, 0, 0),
 datetime.datetime(2015, 3, 19, 0, 0),
 datetime.datetime(2015, 3, 20, 0, 0),
 datetime.datetime(2015, 3, 21, 0, 0),
 datetime.datetime(2015, 3, 22, 0, 0),
 datetime.datetime(2015, 3, 23, 0, 0),
 datetime.datetime(2015, 3, 24, 0, 0),
 datetime.datetime(2015, 3, 25, 0, 0),
 datetime.datetime(2015, 3, 26, 0, 0),
 datetime.datetime(2015, 3, 27, 0, 0),
 datetime.datetime(2015, 3, 28, 0, 0),
 datetime.datetime(2015, 3, 29, 0, 0),
 datetime.datetime(2015, 3, 30, 0, 0),
 datetime.datetime(2015, 3, 31, 0, 0),
 datetime.datetime(2015, 4, 1, 0, 0),
 datetime.datetime(2015, 4, 2, 0, 0),
 datetime.datetime(2015, 4, 3, 0, 0),
 datetime.datetime(2015, 4, 4, 0, 0),
 datetime.datetime(2015, 4, 5, 0, 0),
 datetime.datetime(2015, 4, 6, 0, 0),
 datetime.datetime(2015, 4, 7, 0, 0),
 datetime.datetime(2015, 4, 8, 0, 0),
 datetime.datetime(2015, 4, 9, 0, 0),
 datetime.datetime(2015, 4, 10, 0, 0),
 datetime.datetime(2015, 4, 11, 0, 0),
 datetime.datetime(2015, 4, 12, 0, 0),
 datetime.datetime(2015, 4, 13, 0, 0),
 datetime.datetime(2015, 4, 14, 0, 0),
 datetime.datetime(2015, 4, 15, 0, 0),
 datetime.datetime(2015, 4, 16, 0, 0),
 datetime.datetime(2015, 4, 17, 0, 0),
 datetime.datetime(2015, 4, 18, 0, 0),
 datetime.datetime(2015, 4, 19, 0, 0),
 datetime.datetime(2015, 4, 20, 0, 0),
 datetime.datetime(2015, 4, 21, 0, 0),
 datetime.datetime(2015, 4, 22, 0, 0),
 datetime.datetime(2015, 4, 23, 0, 0),
 datetime.datetime(2015, 4, 24, 0, 0),
 datetime.datetime(2015, 4, 25, 0, 0),
 datetime.datetime(2015, 4, 26, 0, 0),
 datetime.datetime(2015, 4, 27, 0, 0),
 datetime.datetime(2015, 4, 28, 0, 0),
 datetime.datetime(2015, 4, 29, 0, 0),
 datetime.datetime(2015, 4, 30, 0, 0),
 datetime.datetime(2015, 5, 1, 0, 0),
 datetime.datetime(2015, 5, 2, 0, 0),
 datetime.datetime(2015, 5, 3, 0, 0),
 datetime.datetime(2015, 5, 4, 0, 0),
 datetime.datetime(2015, 5, 5, 0, 0),
 datetime.datetime(2015, 5, 6, 0, 0),
 datetime.datetime(2015, 5, 7, 0, 0),
 datetime.datetime(2015, 5, 8, 0, 0),
 datetime.datetime(2015, 5, 9, 0, 0),
 datetime.datetime(2015, 5, 10, 0, 0),
 datetime.datetime(2015, 5, 11, 0, 0),
 datetime.datetime(2015, 5, 12, 0, 0),
 datetime.datetime(2015, 5, 13, 0, 0),
 datetime.datetime(2015, 5, 14, 0, 0),
 datetime.datetime(2015, 5, 15, 0, 0),
 datetime.datetime(2015, 5, 16, 0, 0),
 datetime.datetime(2015, 5, 17, 0, 0),
 datetime.datetime(2015, 5, 18, 0, 0),
 datetime.datetime(2015, 5, 19, 0, 0),
 datetime.datetime(2015, 5, 20, 0, 0),
 datetime.datetime(2015, 5, 21, 0, 0),
 datetime.datetime(2015, 5, 22, 0, 0),
 datetime.datetime(2015, 5, 23, 0, 0),
 datetime.datetime(2015, 5, 24, 0, 0),
 datetime.datetime(2015, 5, 25, 0, 0),
 datetime.datetime(2015, 5, 26, 0, 0),
 datetime.datetime(2015, 5, 27, 0, 0),
 datetime.datetime(2015, 5, 28, 0, 0),
 datetime.datetime(2015, 5, 29, 0, 0),
 datetime.datetime(2015, 5, 30, 0, 0),
 datetime.datetime(2015, 5, 31, 0, 0),
 datetime.datetime(2015, 6, 1, 0, 0),
 datetime.datetime(2015, 6, 2, 0, 0),
 datetime.datetime(2015, 6, 3, 0, 0),
 datetime.datetime(2015, 6, 4, 0, 0),
 datetime.datetime(2015, 6, 5, 0, 0),
 datetime.datetime(2015, 6, 6, 0, 0),
 datetime.datetime(2015, 6, 7, 0, 0),
 datetime.datetime(2015, 6, 8, 0, 0),
 datetime.datetime(2015, 6, 9, 0, 0),
 datetime.datetime(2015, 6, 10, 0, 0),
 datetime.datetime(2015, 6, 11, 0, 0),
 datetime.datetime(2015, 6, 12, 0, 0),
 datetime.datetime(2015, 6, 13, 0, 0),
 datetime.datetime(2015, 6, 14, 0, 0),
 datetime.datetime(2015, 6, 15, 0, 0),
 datetime.datetime(2015, 6, 16, 0, 0),
 datetime.datetime(2015, 6, 17, 0, 0),
 datetime.datetime(2015, 6, 18, 0, 0),
 datetime.datetime(2015, 6, 19, 0, 0),
 datetime.datetime(2015, 6, 20, 0, 0),
 datetime.datetime(2015, 6, 21, 0, 0),
 datetime.datetime(2015, 6, 22, 0, 0),
 datetime.datetime(2015, 6, 23, 0, 0),
 datetime.datetime(2015, 6, 24, 0, 0),
 datetime.datetime(2015, 6, 25, 0, 0),
 datetime.datetime(2015, 6, 26, 0, 0),
 datetime.datetime(2015, 6, 27, 0, 0),
 datetime.datetime(2015, 6, 28, 0, 0),
 datetime.datetime(2015, 6, 29, 0, 0),
 datetime.datetime(2015, 6, 30, 0, 0),
 datetime.datetime(2015, 7, 1, 0, 0),
 datetime.datetime(2015, 7, 2, 0, 0),
 datetime.datetime(2015, 7, 3, 0, 0),
 datetime.datetime(2015, 7, 4, 0, 0),
 datetime.datetime(2015, 7, 5, 0, 0),
 datetime.datetime(2015, 7, 6, 0, 0),
 datetime.datetime(2015, 7, 7, 0, 0),
 datetime.datetime(2015, 7, 8, 0, 0),
 datetime.datetime(2015, 7, 9, 0, 0),
 datetime.datetime(2015, 7, 10, 0, 0),
 datetime.datetime(2015, 7, 11, 0, 0),
 datetime.datetime(2015, 7, 12, 0, 0),
 datetime.datetime(2015, 7, 13, 0, 0),
 datetime.datetime(2015, 7, 14, 0, 0),
 datetime.datetime(2015, 7, 15, 0, 0),
 datetime.datetime(2015, 7, 16, 0, 0),
 datetime.datetime(2015, 7, 17, 0, 0),
 datetime.datetime(2015, 7, 18, 0, 0),
 datetime.datetime(2015, 7, 19, 0, 0),
 datetime.datetime(2015, 7, 20, 0, 0),
 datetime.datetime(2015, 7, 21, 0, 0),
 datetime.datetime(2015, 7, 22, 0, 0),
 datetime.datetime(2015, 7, 23, 0, 0),
 datetime.datetime(2015, 7, 24, 0, 0),
 datetime.datetime(2015, 7, 25, 0, 0),
 datetime.datetime(2015, 7, 26, 0, 0),
 datetime.datetime(2015, 7, 27, 0, 0),
 datetime.datetime(2015, 7, 28, 0, 0),
 datetime.datetime(2015, 7, 29, 0, 0),
 datetime.datetime(2015, 7, 30, 0, 0),
 datetime.datetime(2015, 7, 31, 0, 0),
 datetime.datetime(2015, 8, 1, 0, 0),
 datetime.datetime(2015, 8, 2, 0, 0),
 datetime.datetime(2015, 8, 3, 0, 0),
 datetime.datetime(2015, 8, 4, 0, 0),
 datetime.datetime(2015, 8, 5, 0, 0),
 datetime.datetime(2015, 8, 6, 0, 0),
 datetime.datetime(2015, 8, 7, 0, 0),
 datetime.datetime(2015, 8, 8, 0, 0),
 datetime.datetime(2015, 8, 9, 0, 0),
 datetime.datetime(2015, 8, 10, 0, 0),
 datetime.datetime(2015, 8, 11, 0, 0),
 datetime.datetime(2015, 8, 12, 0, 0),
 datetime.datetime(2015, 8, 13, 0, 0),
 datetime.datetime(2015, 8, 14, 0, 0),
 datetime.datetime(2015, 8, 15, 0, 0),
 datetime.datetime(2015, 8, 16, 0, 0),
 datetime.datetime(2015, 8, 17, 0, 0),
 datetime.datetime(2015, 8, 18, 0, 0),
 datetime.datetime(2015, 8, 19, 0, 0),
 datetime.datetime(2015, 8, 20, 0, 0),
 datetime.datetime(2015, 8, 21, 0, 0),
 datetime.datetime(2015, 8, 22, 0, 0),
 datetime.datetime(2015, 8, 23, 0, 0),
 datetime.datetime(2015, 8, 24, 0, 0),
 datetime.datetime(2015, 8, 25, 0, 0),
 datetime.datetime(2015, 8, 26, 0, 0),
 datetime.datetime(2015, 8, 27, 0, 0),
 datetime.datetime(2015, 8, 28, 0, 0),
 datetime.datetime(2015, 8, 29, 0, 0),
 datetime.datetime(2015, 8, 30, 0, 0),
 datetime.datetime(2015, 8, 31, 0, 0),
 datetime.datetime(2015, 9, 1, 0, 0),
 datetime.datetime(2015, 9, 2, 0, 0),
 datetime.datetime(2015, 9, 3, 0, 0),
 datetime.datetime(2015, 9, 4, 0, 0),
 datetime.datetime(2015, 9, 5, 0, 0),
 datetime.datetime(2015, 9, 6, 0, 0),
 datetime.datetime(2015, 9, 7, 0, 0),
 datetime.datetime(2015, 9, 8, 0, 0),
 datetime.datetime(2015, 9, 9, 0, 0),
 datetime.datetime(2015, 9, 10, 0, 0),
 datetime.datetime(2015, 9, 11, 0, 0),
 datetime.datetime(2015, 9, 12, 0, 0),
 datetime.datetime(2015, 9, 13, 0, 0),
 datetime.datetime(2015, 9, 14, 0, 0),
 datetime.datetime(2015, 9, 15, 0, 0),
 datetime.datetime(2015, 9, 16, 0, 0),
 datetime.datetime(2015, 9, 17, 0, 0),
 datetime.datetime(2015, 9, 18, 0, 0),
 datetime.datetime(2015, 9, 19, 0, 0),
 datetime.datetime(2015, 9, 20, 0, 0),
 datetime.datetime(2015, 9, 21, 0, 0),
 datetime.datetime(2015, 9, 22, 0, 0),
 datetime.datetime(2015, 9, 23, 0, 0),
 datetime.datetime(2015, 9, 24, 0, 0),
 datetime.datetime(2015, 9, 25, 0, 0),
 datetime.datetime(2015, 9, 26, 0, 0),
 datetime.datetime(2015, 9, 27, 0, 0),
 datetime.datetime(2015, 9, 28, 0, 0),
 datetime.datetime(2015, 9, 29, 0, 0),
 datetime.datetime(2015, 9, 30, 0, 0),
 datetime.datetime(2015, 10, 1, 0, 0),
 datetime.datetime(2015, 10, 2, 0, 0),
 datetime.datetime(2015, 10, 3, 0, 0),
 datetime.datetime(2015, 10, 4, 0, 0),
 datetime.datetime(2015, 10, 5, 0, 0),
 datetime.datetime(2015, 10, 6, 0, 0),
 datetime.datetime(2015, 10, 7, 0, 0),
 datetime.datetime(2015, 10, 8, 0, 0),
 datetime.datetime(2015, 10, 9, 0, 0),
 datetime.datetime(2015, 10, 10, 0, 0),
 datetime.datetime(2015, 10, 11, 0, 0),
 datetime.datetime(2015, 10, 12, 0, 0),
 datetime.datetime(2015, 10, 13, 0, 0),
 datetime.datetime(2015, 10, 14, 0, 0),
 datetime.datetime(2015, 10, 15, 0, 0),
 datetime.datetime(2015, 10, 16, 0, 0),
 datetime.datetime(2015, 10, 17, 0, 0),
 datetime.datetime(2015, 10, 18, 0, 0),
 datetime.datetime(2015, 10, 19, 0, 0),
 datetime.datetime(2015, 10, 20, 0, 0),
 datetime.datetime(2015, 10, 21, 0, 0),
 datetime.datetime(2015, 10, 22, 0, 0),
 datetime.datetime(2015, 10, 23, 0, 0),
 datetime.datetime(2015, 10, 24, 0, 0),
 datetime.datetime(2015, 10, 25, 0, 0),
 datetime.datetime(2015, 10, 26, 0, 0),
 datetime.datetime(2015, 10, 27, 0, 0),
 datetime.datetime(2015, 10, 28, 0, 0),
 datetime.datetime(2015, 10, 29, 0, 0),
 datetime.datetime(2015, 10, 30, 0, 0),
 datetime.datetime(2015, 10, 31, 0, 0),
 datetime.datetime(2015, 11, 1, 0, 0),
 datetime.datetime(2015, 11, 2, 0, 0),
 datetime.datetime(2015, 11, 3, 0, 0),
 datetime.datetime(2015, 11, 4, 0, 0),
 datetime.datetime(2015, 11, 5, 0, 0),
 datetime.datetime(2015, 11, 6, 0, 0),
 datetime.datetime(2015, 11, 7, 0, 0),
 datetime.datetime(2015, 11, 8, 0, 0),
 datetime.datetime(2015, 11, 9, 0, 0),
 datetime.datetime(2015, 11, 10, 0, 0),
 datetime.datetime(2015, 11, 11, 0, 0),
 datetime.datetime(2015, 11, 12, 0, 0),
 datetime.datetime(2015, 11, 13, 0, 0),
 datetime.datetime(2015, 11, 14, 0, 0),
 datetime.datetime(2015, 11, 15, 0, 0),
 datetime.datetime(2015, 11, 16, 0, 0),
 datetime.datetime(2015, 11, 17, 0, 0),
 datetime.datetime(2015, 11, 18, 0, 0),
 datetime.datetime(2015, 11, 19, 0, 0),
 datetime.datetime(2015, 11, 20, 0, 0),
 datetime.datetime(2015, 11, 21, 0, 0),
 datetime.datetime(2015, 11, 22, 0, 0),
 datetime.datetime(2015, 11, 23, 0, 0),
 datetime.datetime(2015, 11, 24, 0, 0),
 datetime.datetime(2015, 11, 25, 0, 0),
 datetime.datetime(2015, 11, 26, 0, 0),
 datetime.datetime(2015, 11, 27, 0, 0),
 datetime.datetime(2015, 11, 28, 0, 0),
 datetime.datetime(2015, 11, 29, 0, 0),
 datetime.datetime(2015, 11, 30, 0, 0),
 datetime.datetime(2015, 12, 1, 0, 0),
 datetime.datetime(2015, 12, 2, 0, 0),
 datetime.datetime(2015, 12, 3, 0, 0),
 datetime.datetime(2015, 12, 4, 0, 0),
 datetime.datetime(2015, 12, 5, 0, 0),
 datetime.datetime(2015, 12, 6, 0, 0),
 datetime.datetime(2015, 12, 7, 0, 0),
 datetime.datetime(2015, 12, 8, 0, 0),
 datetime.datetime(2015, 12, 9, 0, 0),
 datetime.datetime(2015, 12, 10, 0, 0),
 datetime.datetime(2015, 12, 11, 0, 0),
 datetime.datetime(2015, 12, 12, 0, 0),
 datetime.datetime(2015, 12, 13, 0, 0),
 datetime.datetime(2015, 12, 14, 0, 0),
 datetime.datetime(2015, 12, 15, 0, 0),
 datetime.datetime(2015, 12, 16, 0, 0),
 datetime.datetime(2015, 12, 17, 0, 0),
 datetime.datetime(2015, 12, 18, 0, 0),
 datetime.datetime(2015, 12, 19, 0, 0),
 datetime.datetime(2015, 12, 20, 0, 0),
 datetime.datetime(2015, 12, 21, 0, 0),
 datetime.datetime(2015, 12, 22, 0, 0),
 datetime.datetime(2015, 12, 23, 0, 0),
 datetime.datetime(2015, 12, 24, 0, 0),
 datetime.datetime(2015, 12, 25, 0, 0),
 datetime.datetime(2015, 12, 26, 0, 0),
 datetime.datetime(2015, 12, 27, 0, 0),
 datetime.datetime(2015, 12, 28, 0, 0),
 datetime.datetime(2015, 12, 29, 0, 0),
 datetime.datetime(2015, 12, 30, 0, 0),
 datetime.datetime(2015, 12, 31, 0, 0)]

In [47]:
len(dummydates)

365

In [48]:
dff.index = pd.Series(dummydates)
dff

Element        TTmin1     TTmax1     TTmin2  TTmax2
2015-01-01 -13.268182  11.809524        NaN     NaN
2015-01-02 -13.957895   8.304762        NaN     NaN
2015-01-03 -22.052632   8.525000        NaN     NaN
2015-01-04 -18.310000   8.915000        NaN     NaN
2015-01-05 -10.276190  10.294737 -13.694737     NaN
...               ...        ...        ...     ...
2015-12-27  -8.926087  11.828571        NaN     NaN
2015-12-28 -12.586364  14.710000        NaN     NaN
2015-12-29 -10.280952   8.083333        NaN     NaN
2015-12-30 -11.571429   8.275000        NaN     NaN
2015-12-31 -10.935000   9.870000        NaN     NaN

[365 rows x 4 columns]

In [49]:
dff.index.dtype

dtype('<M8[ns]')

# MATPLOTLIB

In [50]:
%matplotlib notebook

In [51]:
import matplotlib as mpl
import matplotlib.dates as mdates
mpl.get_backend()

'nbAgg'

In [52]:
import matplotlib.pyplot as plt
from datetime import datetime
from matplotlib.dates import DateFormatter, MonthLocator

In [53]:
# Create just a figure and only one subplot
fig, ax = plt.subplots(figsize=(10, 8), dpi=100, facecolor='w', edgecolor='k')

ax.plot_date(dff.index, dff1['TTmin1'],'deepskyblue', linewidth=0.5, markersize=1)
ax.plot_date(dff.index, dff1['TTmax1'],'lightcoral', linewidth=0.5, markersize=1)


ax.scatter(dff.index, dff['TTmin2'],color='blue', s=10)
ax.scatter(dff.index, dff['TTmax2'],color='firebrick', s=10)

#To only show the months in x axis
ax.xaxis.set_major_locator(MonthLocator())
ax.xaxis.set_major_formatter(DateFormatter("%b")) 

#To delete the default whitespace in the graph extents (default=0.05)
plt.margins(x=0)

In [54]:
dff1.index.dtype

dtype('O')

In [55]:
plt.xlabel('Date')
plt.ylabel('Temperature in Celsius')
plt.title('Extreme temperatures of 2015 compared to ten years daily records\n (Vestervig, Jutland, Denmark)')

# positioning the legend to lower center using bbox_to_anchor
plt.legend(['Minimum daily temperature/celsius', 'Maximum daily temperature/celsius','Lowest 2015 record breaking temperatures', 'Highest 2015 record breaking temperatures','Daily temperature variation'],
           bbox_to_anchor=(0.5, 0),
           loc='lower center')
plt.grid(color='gray', linestyle='-.', linewidth=0.2)

In [56]:
# fill the area between the linear data and exponential data
dates = list(dff.index)
plt.gca().fill_between(dates, 
                       dff['TTmin1'], dff['TTmax1'], 
                       facecolor='paleturquoise', 
                       alpha=0.25)